.header-home {
    background-image: url(../../assets/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.desktop-responsive-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.header-p,
.header-h2 {
    color: #fff;
}

.header-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-h2 span {
    font-size: 5rem;
}

.header-p {
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
}

.explore-circle {
    background-color: #fff;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-circle-a {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}

@media only screen and (min-width: 600px) {
    .header-home {
        background-image: url(../../assets/background-home-tablet.jpg);
        background-position: bottom;
    }

    .header-p {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .header-home {
        background-image: url(../../assets/background-home-desktop.jpg);
    }

    .explore-circle {
        width: 18rem;
        height: 18rem;
    }

    .header-home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desktop-responsive-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 67vh;
    }

    .header-h2 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .header-h2 span {
        font-size: calc(1.8rem * 4);
    }

    .header-p {
        margin: 0;
    }
}