.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;
    height: 2rem;
}

.background-navbar-active,
.navbar {
    background-color: #ffffff2f;
    backdrop-filter: blur(3rem);
}

.navbar-inactive {
    display: none;
}

.navbar {
    position: absolute;
    right: 0;
    height: calc(100% - 4rem);
}

.navbar-ul {
    list-style: none;
    margin: 0;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 50%;
    gap: 1.5rem;
}

.navbar-a span {
    font-weight: bolder;
}

.navbar-a {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.logo {
    width: 2.5rem;
}
.active-navbar-link{
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-thickness: .1rem;
}

@media only screen and (min-width:600px) {
    .hamburguer-tablet {
        display: none;
    }

    .navbar-a {
        font-size: 1rem;

    }

    .navbar-inactive {
        display: block;
        position: unset;
    }

    .navbar-ul {
        flex-direction: row;
        justify-content: unset;
        padding: 2rem 1rem;
    }

    .navbar-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-a span {
        display: none;
    }
}