* {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --fontBarlow: font-family: "Barlow Condensed", sans-serif;
    --fontBellefair: font-family: "Bellefair", serif;
}

a {
    text-decoration: none;
}